<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="RequestHandler" type="RequestHandler.Wcf.RequestHanderExtension, RequestHandler, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExampleTwoBehavior">
          <RequestHandler/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="RequestHandler.Example.Host.ExampleOne">
        <endpoint address="" contract="RequestHandler.Example.Contracts.ITimeService" binding="basicHttpBinding" />
        <endpoint address="/mex" contract="IMetadataExchange" binding="mexHttpBinding" />
      </service>

      <service name="RequestHandler.Example.Host.ExampleTwo" behaviorConfiguration="ExampleTwoBehavior">
        <endpoint address="" contract="RequestHandler.Example.Contracts.ITimeService" binding="basicHttpBinding" />
        <endpoint address="/mex" contract="IMetadataExchange" binding="mexHttpBinding" />
      </service>

      <service name="RequestHandler.Example.Host.ExampleThree">
        <endpoint address="" contract="RequestHandler.Example.Contracts.ITimeService" binding="basicHttpBinding" />
        <endpoint address="/mex" contract="IMetadataExchange" binding="mexHttpBinding" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>